.logo {
  height: 50px;
  margin: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: rgb(194, 216, 216);
  font-size:large;
  font-weight:bold;
  background: rgba(255, 255, 255, 0.2);
}

.leaflet-tile-pane, .leafet-control-attribution {
  -webkit-filter: invert(100%) hue-rotate(180deg) brightness(75%) contrast(85%);
  filter: invert(100%) hue-rotate(180deg) brightness(75%) contrast(85%);
}